body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    font-size: 12px;
    overflow: hidden;
}

#iphonex {
    /*     position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 0; */
    background-image: url('../images/iphone_frame.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 375px 812px;
    /* width: 375px;
    height: 812px; */
    overflow: auto;
    /* margin: 0 35%; */
    /* z-index: 2; */
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute; /* make it overlap your website content */
    pointer-events: none;
}

#screen {
    width: 375px;
    height: 812px;
    /* border-radius: 5%; */
    /* background-color: red; */
    /* z-index: -1; */
    overflow: auto;
}

#head {
    display: flex;
    position: sticky;
    width: 375px;
    top: 0;

    background: white;
}

#time {
    margin: 10% 43% 6% 10%; /* dirty hack because float right isn't working */
}

#status_icon {
    margin: 10% 10% 6% 10%;
}

nav {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    background: rgba(0, 0, 0, 0.1) !important;
    padding: 1em;
    width: 375px;
    height: 50px;
    backdrop-filter: blur(4px);
}

.footer-bar {
    text-align: center;
    padding: 1.5% 1.5% 4% 1.5%;
    display: flex;
    justify-content: space-around;

    position: fixed;

    bottom: 2.5%;
}

.footer-img {
    height: 4em;
    width: 4em;
}
