@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

* {
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
}

a:link,
a:visited,
a:hover,
a:active {
    color: black !important;
    text-decoration: none !important;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    overflow: hidden;
}

#iphonex {
    background-image: url('../images/iphone_frame.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 375px 812px;
    overflow: auto;
    height: 100%;
    width: 100%;
    z-index: 999;
    position: absolute;
    pointer-events: none;
}

#screen {
    width: 375px;
    height: 812px;
    overflow: hidden visible;
}

#screen > * {
    min-width: 345px;
}

#screen::after {
    height: 100px;
    bottom: 0;
}

#head {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    backdrop-filter: blur(4px);
}

#time {
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 6%;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#status_icon {
    /* margin: 10% 0% 6% 10%; */
    margin-top: 10%;
    margin-left: auto;
    margin-bottom: 6%;
    margin-right: 5%;
}

#content {
    position: relative;
    width: 320px;
    height: 620px;
}

nav {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    background: rgba(0, 0, 0, 0.1) !important;
    padding: 1em;
    width: 375px;
    height: 50px;
    backdrop-filter: blur(4px);
    border-radius: 0 0 40px 40px;
}

.footer-bar {
    text-align: center;
    padding: 1.5% 1.5% 4% 1.5%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 712px;
}

.footer-img {
    height: 36px;
    width: 36px;
}

.footer-img:active {
    transform: translate(1px, 1px);
}

.clickable {
    cursor: pointer;
}

.button {
    border: 1px #bbb solid;
    box-shadow: 5px 5px #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.05s;
}

.button:active {
    box-shadow: none;
    transform: translate(5px, 5px);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    height: 812px;
    top: 0;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay > div {
    padding: 20px;
    border-radius: 20px;
    background: #ffffff;
}

.modal-state:checked + .overlay {
    visibility: visible;
    opacity: 1;
    pointer-events: visible;
}
