#reflection {
    margin: 10% 10%;
    margin-bottom: 0;
}

#reflection p {
    text-align: center;
    padding: 30% 20%;
    font-size: 1.5em;
}

#challenge {
    margin: 5% 1%;
    margin-left: 10%;
    width: 38%;
    float: left;
}

#diary {
    margin: 5% 1%;
    margin-right: 10%;
    width: 38%;
    float: right;
}

#challenge p,
#diary p {
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 50% 10%;
    text-align: center;
}

.back {
    margin-left: 10%;
}

.back img {
    width: 45%;
}

#prev_journal {
    padding-bottom: 20px;
}

#prev_title {
    margin: 0;
    margin-right: 20%;
}

.jour {
    margin: 5% 10% 0% 10%;
    border: 1px #bbb solid;
    height: 150px;
    display: flex;
    /* width: 100%; */
    box-shadow: 3px 3px #ddd;
}

.jour_date {
    width: 30%;
    margin: 20% 0;
}

.jour_date p {
    text-align: center;
    font-size: 2em;
    line-height: 15px;
}

.jour_date .prev_w {
    font-size: 1em;
}

.jour_img {
    width: 70%;
    background-size: cover;
}

.jour_img_1 {
    background-image: url('../images/2.jpg');
}

.jour_img_2 {
    background-image: url('../images/3.jpg');
}

.jour_img_3 {
    background-image: url('../images/4.jpg');
}

.jour_img_4 {
    background-image: url('../images/5.jpg');
}
