#top {
    display: flex;
}

#search {
    /* background-image: url("../images/search.png"); */
    /* background-size: cover; */
    margin: 0 10%;
    margin-bottom: 10%;
}

#search img {
    width: 40px;
    height: 40px;
}

#weather {
    border: 1px #aaa solid;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    margin: 0;
    margin-left: 20%;
    margin-bottom: 10%;
    display: flex;
}

#weather_img {
    margin: 2% 10%;
    margin-right: 0%;
}

#weather_img img {
    width: 40px;
    height: 40px;
}

#weather_text {
    margin: 5%;
    margin-left: 3%;
    line-height: 13px;
    text-align: center;
}

#year {
    border-radius: 15px;
    padding: 3% 5%;
    padding-left: 8%;
    margin: 0;
    margin-left: 35%;
    margin-right: 38%;
    background-color: white;
}

#card-wrapper {
    width: 100%;
    text-align: center;
}

#card {
    height: 400px;
    margin: 5% 0;
    padding-left: 13%;
    padding-right: 13%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

#card .front,
#card .back {
    backface-visibility: hidden;
    position: absolute;
    display: inline-block;
    transform: translateX(-50%);
}

#card .back {
    transform: rotateY(180deg) translateX(50%);
}

#card.flipped {
    transform: rotateY(180deg);
}

.journal {
    width: 250px;
    height: 400px;
    background-color: blue;
    border-radius: 20px;
    background-image: url('../images/1.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 5px 10px #eee;
}

#month {
    color: white;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Abel', sans-serif;
    margin: 10%;
    padding-top: 5%;
}

.schedule {
    width: 250px;
    height: 400px;
    /* background-color: blue; */
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 5px 10px #eee;
    font-family: 'Indie Flower', cursive;
}

ul {
    list-style-type: none;
}

.c_month {
    padding: 20px 15px;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #bbb;
    margin-top: 10%;
}

.c_month ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.c_month ul li {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}

.c_month .prev {
    float: left;
    padding-top: 10px;
}

.c_month .next {
    float: right;
    padding-top: 10px;
}

.c_weekdays {
    margin: 0;
    margin-top: 10%;
    padding: 10px 2px;
    background-color: #ccc;
}

.c_weekdays li {
    display: inline-block;
    width: 12%;
    color: #666;
    text-align: center;
    font-size: 1em;
    padding: 0 5px;
}

.c_days {
    padding: 10px 0;
    margin: 0;
    background-color: #ddd;
}

.c_days li {
    display: inline-block;
    width: 12%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 1em;
    color: #777;
}

.space {
    visibility: hidden;
}

#flip-wrapper {
    text-align: center;
}

#view_text {
    border: 1px black solid;
    padding: 3%;
    text-align: center;
    width: 150px;
    height: 40px;
    display: inline-block;
}

/* 

nav.trans {
    background: rgba(244, 244, 244, 0.3) !important;   
 }

.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-link {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.nav-item{
    color: white !important;
}

.nav-item:hover {
    box-shadow: inset 0 0 0 1px white;
}


.col {
    width: 15%;
}


.col-10  {
    margin: auto;
    padding: 15px 15px 15px 15px;
}

.col-2 {
    margin: auto;
    padding: 15px 15px 15px 15px;
}


.container {
    max-width: 100%;
} */
