#write-head {
    text-align: center;
    padding: 1.5% 5% 1.5% 5%;
    display: flex;
    justify-content: space-around;
}

#write-head h3 {
    margin: 10px;
}

#write-head input,
#write-head img {
    height: 42px;
    width: 42px;
}

#write-body {
    padding-left: 5%;
    padding-right: 5%;
}

#write-body textarea {
    height: 100px;
    max-width: 100%;
    border-radius: 10px;
    padding: 10px;
    resize: none;
}

#write > img {
    max-width: 100%;
    max-height: 100%;
}
