#content {
}

#profile_pic {
  border: 1px solid;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  overflow: hidden;
}

#profile_pic img {
  width: 100px;
  height: 100px;
}

#info {
  margin: 30px 20px;
}

#info p {
  line-height: 30px;
  font-size: 20px;
}

hr.line {
  border: 0.5px solid #ccc;
  width: 280px;
  margin-bottom: 30px;
}

h3 {
  margin: 20px;
}