#write-head {
    text-align: center;
    padding: 1.5% 5% 1.5% 5%;
    display: flex;
    justify-content: space-around;
}

#write-head h4 {
    margin: 0;
    margin-top: 5px;
}

#write-head input,
#write-head img {
    height: 42px;
    width: 42px;
}

#write-body {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

#write-body textarea,
#mood {
    width: 100%;
    border: 1px #bbb solid;
    border-radius: 10px;
    padding: 10px;
    resize: vertical;
    display: inline-block;
}

#write-body img,
#write-body .fb-post {
    max-width: 90%;
    max-height: 90%;
    transform: scale(50%);
}

#mood input {
    visibility: hidden;
    position: fixed;
}

#mood label {
    padding: 20px 0;
    margin: 10px;
    width: 40%;
    font-weight: bolder;
    overflow: visible;
}

.overlay div {
    text-align: center;
}
