@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
#write-head {
    text-align: center;
    padding: 1.5% 5% 1.5% 5%;
    display: flex;
    justify-content: space-around;
}

#write-head h4 {
    margin: 0;
    margin-top: 5px;
}

#write-head input {
    height: 39px;
    width: 39px;
}

#write-head img {
    height: 42px;
    width: 42px;
}

#write-body {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

#write-body textarea,
#mood {
    width: 100%;
    border: 1px #bbb solid;
    border-radius: 10px;
    padding: 10px;
    resize: vertical;
    display: inline-block;
}

#write-body img,
#write-body .fb-post {
    max-width: 90%;
    max-height: 90%;
    transform: scale(50%);
}

#mood input {
    visibility: hidden;
    position: fixed;
}

#mood label {
    padding: 20px 0;
    margin: 10px;
    width: 40%;
    font-weight: bolder;
    overflow: visible;
}

#happy-label {
    border: outset 3px yellow;
}
#tired-label {
    border: outset 3px orange;
}
#angry-label {
    border: outset 3px red;
}
#energetic-label {
    border: outset 3px chartreuse;
}
#sad-label {
    border: outset 3px royalblue;
}

.overlay div {
    text-align: center;
}

.fb-post {
    text-align: center;
    height: 200px;
    line-height: 200px;
    border: 1px #ccc solid;
    margin: 3% 7%;
}

.post_img {
  width: 150px;
}

.journal_view {
  padding: 20px;
}

.journal_view textarea {
  width: 100%;
}

div.mood_view {
  border-radius: 15px;
  width: 100px;
  height: 35px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.mood_view span {
  display: block;
  line-height: 30px;
  font-weight: bold;
}

.journal_view > h4 {
  text-align: center;
  font-family: 'Inconsolata', monospace;
}